rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Projects collection rules: read/write allowed
    match /projects/{document} {
      allow read, write: if true;
    }
    
    // Messages collection rules: read/write allowed
    match /contacts/{document} {
      allow read, write: if true;
    }

    // Experiences collection rules: read/write allowed
    match /experiences/{document} {
      allow read, write: if true;
    }

    // Biodata collection rules: read/write allowed
    match /biodata/{document} {
      allow read, write: if true;
    }

    // Services collection rules: read/write allowed
    match /services/{document} {
      allow read, write: if true;
    }

    // Skills collection rules: read/write allowed
    match /skills/{document} {
      allow read, write: if true;
    }
  }
}
